/**
 * Jimini Left Sidebar stylesheet
 *
 * @package Jimini
 * @version 0.1
 *
 * @author Edward Caissie <edward.caissie@gmail.com>
 * @copyright Copyright 2016, Edward Caissie
 *
 * This file is part of Jimini.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License version 2, as published by the
 * Free Software Foundation.
 *
 * You may NOT assume that you can use any other version of the GPL.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details
 *
 * You should have received a copy of the GNU General Public License along with
 * this program; if not, write to:
 *
 *      Free Software Foundation, Inc.
 *      51 Franklin St, Fifth Floor
 *      Boston, MA  02110-1301  USA
 *
 * The license for this software can also likely be found here:
 * http://www.gnu.org/licenses/gpl-2.0.html
 */

/**
 * Acknowledgements to Matthew James Taylor @mattjamestaylor for the works found
 * on his site. The below is based on his "Left Menu" 2-columns styles.
 *
 * http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-pixels.htm
 */

/* main content container */
.main-content {
	position: relative; /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
	overflow: hidden; /* This chops off any overhanging divs */
}

/* left sidebar settings */
.with-left-sidebar {
	background: #FFD8B7; /* content background visible in sidebar only */
}

.with-left-sidebar .content-and-sidebar {
	float: left;
	width: 200%;
	position: relative;
	left: 300px;
	background: #fff; /* background color of content only */
}

.with-left-sidebar .content-wrapper {
	float: right;
	width: 50%;
	position: relative;
	right: 300px;
	padding-bottom: 1em;
}

.sidebar-toggle-tab,
.with-left-sidebar .content-without-sidebar {
	margin: 0 15px 0 315px;
	position: relative;
	right: 100%;
	/* overflow: hidden; */
}

.with-left-sidebar .left-sidebar {
	float: left;
	width: 270px;
	position: relative;
	right: 285px;
}

/** End: Left sidebar layout ------------------------------------------------ */

/** Sidebar toggle open and closed ------------------------------------------ */
.sidebar-toggle-tab {
	float: left;
	margin: 0 0 0 300px;
	position: relative;
	right: 100%;
}

.sidebar-toggle-tab .dashicons-download {
	text-decoration: none;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

.sidebar-toggle-tab.content-only .dashicons-download {
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	transform: rotate(270deg);
}

.with-left-sidebar.no-left-sidebar {
	background: inherit;
}

.content-and-sidebar.content-only .left-sidebar {
	display: none;
}

.sidebar-toggle-tab.content-only {
	margin: 0;
}

.with-left-sidebar .content-without-sidebar.content-only {
	margin: 0 15px; /* left margin value = content-without-sidebar(left:315px) less content-and-sidebar(left:300px) */
}

div.sidebar-toggle-tab.bottom > a {
	position: fixed;
	bottom: 20px;
}

/** End: Sidebar toggle open and closed ------------------------------------- */
